/* color variables */

$colorone: #73877B;
$colortwo: #F4C05F;
$colorthree: #BF6952;
$background: #FAF3DD;
$lightfont: #ffffff;
$darkfont: #303133;
$bodyfont: #888888;

/* end color variables */

/* font type */

$fontsans: 'Poppins',sans-serif;
$fontserif: 'Merriweather', serif;

/* end font type */

/* start theme edits */

footer {
	background: blue;
}


/* responsive media queries - 980 to 1220 */


@media (min-width: 980px) and (max-width: 1220px) {
	
}


/* responsive media queries - 768 to 979 */


@media (min-width: 768px) and (max-width: 979px) {
	
}


/* responsive media queries - 480 to 767 */


@media (min-width: 480px) and (max-width: 767px) {
	
}


/* responsive media queries - 0 to 479 */


@media (min-width: 0px) and (max-width: 479px) {
	
}


/* end theme edits */